<!-- app/views/projects/edit.html.erb -->
<h1>Edit Project</h1>
<%= form_with(model: @project, local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <%= form.submit 'Update Project' %>
<% end %>
