<h1>New Bug</h1>

<%= form_with(model: [@project, @bug], local: true) do |form| %>
  <% if @bug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bug.errors.count, "error") %> prohibited this bug from being saved:</h2>
      <ul>
        <% @bug.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, Bug.statuses.keys.map { |status| [status.humanize, status] } %>
  </div>

  <div class="field">
  <%= form.label :screenshot %>
  <%= form.file_field :screenshot %>
</div>
<div class="field">
    <%= form.label :assigned_to_id %>
    <%= form.collection_select :assigned_to_id, User.all, :id, :email, prompt: "Select a developer" %>
  </div>
  <div class="actions">
    <%= form.submit 'Create Bug' %>
  </div>
<% end %>

<%= link_to 'Back', project_bugs_path(@project) %>
